In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/insurance.csv')
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [ ]:
#converting the categorical data into numerical data
catg_columns = ['sex', 'smoker']

for i in catg_columns:
  df_one = pd.get_dummies(df[i])
  column_ = df_one.columns[1]
  print(column_)
  df_one.pop(df_one.columns[0])
  df = pd.concat((df, df_one), axis=1)
  df.pop(i)
  df = df.rename(columns={column_:i})
  

print(df.head())
#0 if female and 1 if male
#0 is no and 1 if yes

male
yes
   age     bmi  children     region      charges  sex  smoker
0   19  27.900         0  southwest  16884.92400    0       1
1   18  33.770         1  southeast   1725.55230    1       0
2   28  33.000         3  southeast   4449.46200    1       0
3   33  22.705         0  northwest  21984.47061    1       0
4   32  28.880         0  northwest   3866.85520    1       0

In [ ]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [ ]:
#region is 4 category data, converting it in numerical data

region_dict= {'southwest': 0,  'southeast':1, 'northwest':2, 'northeast':3}
region = []
for i in df['region']:
  region.append(region_dict.get(i))

df.pop('region')
df['region']= region

In [ ]:
df.head()

   age     bmi  children      charges  sex  smoker  region
0   19  27.900         0  16884.92400    0       1       0
1   18  33.770         1   1725.55230    1       0       1
2   28  33.000         3   4449.46200    1       0       1
3   33  22.705         0  21984.47061    1       0       2
4   32  28.880         0   3866.85520    1       0       2

In [ ]:
#reindexing the columns as they were
df = df.reindex(columns=['age','sex','bmi', 'children', 'smoker', 'region', 'charges' ])
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [ ]:
#normalization

df = (df - df.mean())/df.std()

x = df.values[:,0:6]
y = df.values[:, 6]

df

In [ ]:
#splitting the data in 70:30 ratio as train and test
x_train = x[:int(0.7*len(x))]
x_test = x[int(0.7*len(x)):]
y_train = y[:int(0.7*len(x))]
y_test = y[int(0.7*len(x)):]

In [ ]:
#defining cost function
def cost_function(x, y, w, b):
  m = len(y)
  j = np.sum((x.dot(w)+b-y)**2)/(2*m)
  return j

In [ ]:
#optimization by batch gradient descent
def optimize(x, y, w, b, alpha, iterations):
  cost_list = []
  for i in range(iterations):
    
    loss = x.dot(w)+b - y

    weight_gradient = x.T.dot(loss)/len(y)
    bias_gradient = np.sum(loss)/len(y)

    w = w - alpha*weight_gradient
    b = b - alpha*bias_gradient

    cost = cost_function(x,y, w, b)
    cost_list.append(cost)

    if i%200==0:
      print(cost)

  return w, b, cost_list

In [ ]:
#predicting the y for given weights
def predict_y(x, w, b):
  return x.dot(w)+b

In [ ]:
#calculating the r^2 accuracy
def r2(y_pred, y):
  rss = np.sum((y_pred - y) ** 2)
  tss = np.sum((y-y.mean()) ** 2)

  r2 = 1-(rss/tss)
  return r2

In [ ]:
w, b, cost_list= optimize(x_train, y_train, np.zeros(x.shape[1]), 0, 0.002,iterations=2000)

0.49191712388966213
0.28707413274465454
0.19429965241940425
0.15215930969845223
0.13296387015911731
0.12419587540689596
0.12018000744901552
0.11833578765214921
0.11748664768508021
0.11709467111475252

In [ ]:
y_pred_train = predict_y(x_train, w, b)
y_pred_test = predict_y(x_test, w, b)

In [ ]:
print(r2(y_pred_train, y_train))
print(r2(y_pred_test, y_test))

0.7630060971412639
0.7217044502029757

In [ ]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.1)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.0.0)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg=LinearRegression()

In [ ]:
reg.fit(x_train,y_train)

LinearRegression()

In [ ]:
print(reg.score(x_test,y_test))

0.7208798772569873