In [ ]:
#Importing necessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("winequality.csv")
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [ ]:
df.head(10)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

In [ ]:
df.tail()

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[5 rows x 12 columns]

In [ ]:
df.shape

(1599, 12)

In [ ]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
X = df.drop(columns=["quality"]) #Input Dataset
y = df["quality"] #Labels
y = np.where(y>5, 1, 0) #The wine is of good quality if it scores above 5

In [ ]:
perm = np.random.permutation(1599)
perm1 = perm[:1119] #Training Set Split
perm2 = perm[1119:] #Test Set Split

In [ ]:
X_train = (X.loc[perm1, :]).to_numpy()
X_test = (X.loc[perm2, :]).to_numpy()
y_train = y[perm1]
y_test = y[perm2]

In [ ]:
intercept = np.ones((X_train.shape[0],1))
X_train = np.concatenate((intercept, X_train),axis=1)
weight = np.zeros(X_train.shape[1])

In [ ]:
np.ones((X_train.shape[0],1))

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [1.]])

In [ ]:
X_train.shape

(1119, 12)

In [ ]:
#Defining the elementwise sigmoid function. Here 'x' is the design matrix
def sigmoid(X, weight):
    x = np.dot(X, weight)
    z = 1/(1 + np.exp(-x))
    return z
 
#Defining the loss function. Here 'h' is the value of the hypothesis function and 'y' is the true value.
def loss(h, y):
    n = y.shape[0]
    return (-y*np.log(h) - (1-y)*(np.log(1-h)))/n

#Defining the gradient function for the cross-entropy loss function
def gradient(X, h, y):
    return np.dot(X.T, (h-y))/y.shape[0]

#Defining the fit function which performs gradient descent and actually trains the network
def fit(X, y, weight, learning_rate=0.01, num_iterations=5000):
    for i in range(num_iterations):
        sigma = sigmoid(X, weight)
        loss_val = loss(sigma, y)
        dW = gradient(X, sigma, y)
        weight = weight - learning_rate*dW
#         if i%100==0:
#             print("Loss ===>", loss_val)
    print("Data Successfully Fitted!")
    return weight

#Make the prediction function
def predict(X_new, weight, threshold=0.5):
    intercept = np.ones((X_new.shape[0],1))
    X_new = np.concatenate((intercept, X_new), axis=1)
    result = sigmoid(X_new, weight)
    y_pred = np.where(result<threshold, 0, 1)
    return y_pred
def accuracy(y_pred, y_test):
    count = 0
    for i in range(len(y_pred)):
        if y_pred[i]==y_test[i]:
            count += 1
    return (count/len(y_pred))*100

In [ ]:
weight = fit(X_train, y_train, weight, 0.001)

Data Successfully Fitted!

In [ ]:
y_pred = predict(X_test, weight)
print("Accuracy:", round(accuracy(y_pred, y_test),2))

Accuracy: 66.25

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
X_train = (X.loc[perm1, :]).to_numpy()
X_test = (X.loc[perm2, :]).to_numpy()
y_train = y[perm1]
y_test = y[perm2]

In [ ]:
log_reg=LogisticRegression(penalty='none',solver='sag').fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

In [ ]:
print("sklearn accuracy", log_reg.score(X_test,y_test)*100)

sklearn accuracy 66.45833333333333