In [48]:
import pandas as pd
import numpy as np

from sklearn import datasets
iris  = datasets.load_iris()
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [49]:
df =  pd.DataFrame(iris.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [50]:
inp = df
target = pd.DataFrame(iris.target)
target.head()

   0
0  0
1  0
2  0
3  0
4  0

# def model score

In [51]:
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)

# K fold cross validation

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [53]:
from sklearn.model_selection import cross_val_score

# LogisticRegression

In [54]:
s1 = cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), inp, target.values.ravel(),cv=10)
np.average(s1)

0.9533333333333334

# SVC

In [55]:
s2=cross_val_score(SVC(gamma='auto'),inp, target.values.ravel(),cv=10)
np.average(s2)

0.9800000000000001

# RandomForestClassifier

In [56]:
s3 = cross_val_score(RandomForestClassifier(n_estimators=40),inp, target.values.ravel(),cv=10)
np.average(s3)

0.96