In [2]:
#Importing necessary library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("winequality.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
df.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [5]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
df.shape

(1599, 12)

In [7]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [9]:
X = df.drop(columns=["quality"]) #Input Dataset
y = df["quality"] #Labels
y = np.where(y>5, 1, 0) #The wine is of good quality if it scores above 5

In [10]:
perm = np.random.permutation(1599)
perm1 = perm[:1119] #Training Set Split
perm2 = perm[1119:] #Test Set Split
perm

array([1016, 1395, 1593, ...,  568,  103, 1155])

In [11]:
X_train = (X.loc[perm1, :]).to_numpy()
X_test = (X.loc[perm2, :]).to_numpy()
y_train = y[perm1]
y_test = y[perm2]

In [12]:
intercept = np.ones((X_train.shape[0],1))
X_train = np.concatenate((intercept, X_train),axis=1)
weight = np.zeros(X_train.shape[1])

In [13]:
np.ones((X_train.shape[0],1))

array([[1.],
       [1.],
       [1.],
       ...,
       [1.],
       [1.],
       [1.]])

In [14]:
X_train.shape

(1119, 12)

In [15]:
#Defining the elementwise sigmoid function. Here 'x' is the design matrix
def sigmoid(X, weight):
    x = np.dot(X, weight)
    z = 1/(1 + np.exp(-x))
    return z
 
#Defining the loss function. Here 'h' is the value of the hypothesis function and 'y' is the true value.
def loss(h, y):
    n = y.shape[0]
    return (-y*np.log(h) - (1-y)*(np.log(1-h)))/n

#Defining the gradient function for the cross-entropy loss function
def gradient(X, h, y):
    return np.dot(X.T, (h-y))/y.shape[0]

#Defining the fit function which performs gradient descent and actually trains the network
def fit(X, y, weight, learning_rate=0.01, num_iterations=5000):
    for i in range(num_iterations):
        sigma = sigmoid(X, weight)
        loss_val = loss(sigma, y)
        dW = gradient(X, sigma, y)
        weight = weight - learning_rate*dW
#         if i%100==0:
#             print("Loss ===>", loss_val)
    print("Data Successfully Fitted!")
    return weight

#Make the prediction function
def predict(X_new, weight, threshold=0.5):
    intercept = np.ones((X_new.shape[0],1))
    X_new = np.concatenate((intercept, X_new), axis=1)
    result = sigmoid(X_new, weight)
    y_pred = np.where(result<threshold, 0, 1)
    return y_pred
def accuracy(y_pred, y_test):
    count = 0
    for i in range(len(y_pred)):
        if y_pred[i]==y_test[i]:
            count += 1
    return (count/len(y_pred))*100

In [16]:
weight = fit(X_train, y_train, weight, 0.001)

Data Successfully Fitted!

In [17]:
y_pred = predict(X_test, weight)
print("Accuracy:", round(accuracy(y_pred, y_test),2))

Accuracy: 61.46

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
X_train = (X.loc[perm1, :]).to_numpy()
X_test = (X.loc[perm2, :]).to_numpy()
y_train = y[perm1]
y_test = y[perm2]

In [20]:
log_reg=LogisticRegression(penalty='none',solver='sag').fit(X_train,y_train)

C:\Python3.9\lib\site-packages\sklearn\linear_model\_sag.py:352: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [21]:
print("sklearn accuracy", log_reg.score(X_test,y_test)*100)

sklearn accuracy 62.5