In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv").drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [2]:
inputs = df.drop(['Survived' ],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [3]:
target = df['Survived']
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

# data pre processing

In [5]:
inputs.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [7]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [22]:
# from sklearn.preprocessing import LabelEncoder
# l_sex = LabelEncoder()
# inputs['Sex_code'] = l_sex.fit_transform(inputs['Sex'])
# inputs.head()
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [23]:
new_inp = inputs.drop(['Sex'], axis=1)
new_inp.head()

   Pclass   Age     Fare  Sex_code
0       3  22.0   7.2500         1
1       1  38.0  71.2833         0
2       3  26.0   7.9250         0
3       1  35.0  53.1000         0
4       3  35.0   8.0500         1

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(new_inp,target,test_size=0.2)

In [26]:
len(X_train)

712

In [27]:
len(X_test)

179

# train

In [28]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [29]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [30]:
model.score(X_test,y_test)

0.7821229050279329